# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
src/openjarvis/_version.py
*.egg-info/
.installed.cfg
*.egg
dist/
build/_pyinstaller_work/
wheels/
*.so
*.pyd
*.spec

# Virtual environments
.venv/
env/
venv/

# Testing & linting caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local configs & keys
.env
.openjarvis/
my-config.yaml

# Documentation site output
site/

# IDE & OS
.vscode/
.idea/
.DS_Store

